@import "../../styles/variables.css";

.Layout {
  position: relative;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1464px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__content {
    width: calc(100% - 288px);
  }

  &__sidebar {
    position: sticky;
    top: 20px;
    width: 240px;
  }
}
