@import "../../styles/variables.css";

.StatusFilter {
  margin: 0 0 19px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    font-size: 11px;
    line-height: 13px;
    color: #98989D;
    font-weight: normal;
    margin: 0 0 11px;
  }

  &__control {
    width: 100%;
    text-align: left;
    padding: 0 0 0 12px;
    background: none;
    border: solid transparent;
    border-width: 0 0 0 1px;
    margin: 0 0 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &_active {
      color: #000;
      border-left-color: #000;
    }
  }
}
